<div>
    <h3>Dashboard</h3>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">CreatedBy</th>
                    <th class="text-center">UpdatedBy</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let experimentDto of experimentDtos">
                <tr>
                    <td class="text-center" [innerHtml]=experimentDto.Id></td>
                    <td class="text-center">
                        <a routerLink="/entityViewAnalysis"  [innerHtml]=experimentDto.Name></a>
                    </td>
                    <td class="text-center" [innerHtml]=experimentDto.Type></td>
                    <td class="text-center" [innerHtml]=experimentDto.CreatedBy></td>
                    <td class="text-center" [innerHtml]=experimentDto.UpdatedBy></td>
                    <td class="text-center">
                        Delete | Clone
                    </td>
                </tr>
                <tr [hidden]="!collapseDetails">
                    <td>560001</td>        
                    <td>Bangalore</td>
                    <td>560001</td>
                    <td>560001</td>
                    <td>560001</td>
                    <td>560001</td>           
                </tr>
            </tbody>
        </table>
    </div>
</div>