<h3>Triage page</h3>
<div class="container-fluid">
    <h1>EntityView Name</h1>
    <div class="panel panel-default">
        <div class="panel-heading">EntitySpace View Meta</div>
        <div class="panel-body">
            <p>这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。 这是一个基本的面板内容。这是一个基本的面板内容。
            </p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">免费域名注册</li>
            <li class="list-group-item">免费 Window 空间托管</li>
            <li class="list-group-item">图像的数量</li>
            <li class="list-group-item">24*7 支持</li>
            <li class="list-group-item">每年更新成本</li>
        </ul>
    </div>
    <div class="">
        <div class="col-sm-6" style="padding:0;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Last normal view</h3>
                </div>
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding:0;">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Triage view</h3>
                </div>
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
        </div>
    </div>
</div>