<div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel" [ngSwitch]="analysisType">
        <div class="stepwizard-step">
            <a routerLink="/analysis/entitySpace/explorer" 
                type="button" 
                class="btn btn-primary btn-circle analysisnav"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Explorer"
                >
                E
            </a>
            <p>Explorer</p>
        </div>
        <div class="stepwizard-step">
            <a routerLink="/analysis/entitySpace/statistic" 
                type="button" 
                class="btn btn-default btn-circle analysisnav"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Statistic"
                >
                S
            </a>
            <p>Statistic</p>
        </div>
        <div class="stepwizard-step">
            <a routerLink="/analysis/entitySpace/filter" 
                type="button" 
                class="btn btn-default btn-circle analysisnav"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Filter"
                >
                F
            </a>
            <p>Filter</p>
        </div>
        <div class="stepwizard-step" *ngSwitchCase="2">
            <a routerLink="/analysis/entitySpace/filter" 
                type="button" 
                class="btn btn-default btn-circle analysisnav"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Filter"
                >
                F
            </a>
            <p>Filter</p>
        </div>
    </div>
</div>
<div *ngIf="analysisType==1">hhhahaha</div>